Package: drupaltestbot-sqlite3
Version: 0.0.1
Architecture: all
Maintainer: Damien Tournoud <damien@commerceguys.com>
Installed-Size: 56
Depends: debconf (>= 0.5) | debconf-2.0, drupaltestbot, sqlite3
Section: devel
Priority: optional
Homepage: http://qa.drupal.org
Description: sqlite3 test environment for the Drupal test bot.
