Source: drupaltestbot-sqlite3
Section: devel
Priority: optional
Maintainer: Damien Tournoud <damien@commerceguys.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://qa.drupal.org

Package: drupaltestbot-sqlite3
Architecture: all
Depends: ${misc:Depends}, drupaltestbot, sqlite3
Description: sqlite3 test environment for the Drupal test bot.
