Package: drupaltestbot-mysql
Version: 0.0.1
Architecture: all
Maintainer: Damien Tournoud <damien@commerceguys.com>
Installed-Size: 56
Depends: debconf (>= 0.5) | debconf-2.0, drupaltestbot, mysql-server | virtual-mysql-server
Section: devel
Priority: optional
Homepage: http://qa.drupal.org
Description: MySQL test environment for the Drupal test bot.
